/*
            EX1) Write a selector to target the main title of the page (DONE)
            EX2) Write a selector to target every children of the navbar (DONE)
            EX3) Write a selector to target the "continue reading..." inside the jumbotron (DONE)
            EX4) Write a selector to target the first blogpost (DONE)
            EX5) Write a selector to target the "even" links in the navbar (DONE)
            EX6) Write a selector to target the last blog post (DONE)
            EX7) Write a selector to target all the li into the first ordered-list in the sidebar ( Archives ) (DONE)
            EX8) Write a selector to target the second post author (DONE)
            EX9) Write a selector to target the "back to top" link     #### EXTRA Try doing it without targeting the footer element directly (DONE)
            EX10) Write a selector to target the footer (DONE)
        */

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron div > h1 {
  color: red;
}

nav * {
  font-weight: bold;
  border: 1px solid blue;
  padding: 2px;
}

.jumbotron p > a {
  color: yellow !important;
}

.blog-main h3 + .blog-post {
  background-color: orange;
}

nav a:nth-child(even) {
  background-color: pink;
}

.blog-post:last-of-type {
  background-color: cyan;
}

.blog-sidebar div:nth-child(2) li {
  background-color: blue;
}

div.blog-post:nth-child(3) .blog-post-meta a {
  border: 1px solid red;
}

.blog-footer p:last-child a {
  background-color: orange;
  font-size: 50px !important;
}

footer {
  background-color: pink;
}
